In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
customer_df = pd.read_csv('customer_value_analysis.csv')
display(customer_df.shape)
customer_df.head()

(9134, 24)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
X = customer_df.drop(['Total Claim Amount'],axis=1)
y = customer_df['Total Claim Amount']

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=31)

In [5]:
X_train_num = X_train.select_dtypes(np.number)
X_test_num= X_test.select_dtypes(np.number)
X_train_num.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
8444,8105.814830,17920,72,14,53,0,2
2891,4462.997006,0,73,35,52,3,5
5464,5627.297887,61486,70,2,65,0,3
7432,7472.672033,44385,97,6,31,0,7
3919,4595.524548,95550,116,15,75,1,1

In [6]:
X_train_cat = X_train.select_dtypes(include=['object', 'category'])
X_test_cat = X_test.select_dtypes(include=['object', 'category'])
X_train_cat.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
8444,DZ85842,California,No,Basic,High School or Below,2/27/11,Retired,M,Suburban,Married,Personal Auto,Personal L1,Offer1,Branch,Four-Door Car,Medsize
2891,UV86903,California,Yes,Basic,Bachelor,1/30/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer1,Web,Two-Door Car,Medsize
5464,NL59273,Oregon,No,Basic,Doctor,1/21/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Call Center,Two-Door Car,Medsize
7432,FG43850,Oregon,No,Extended,High School or Below,1/14/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Four-Door Car,Small
3919,XV30885,California,No,Basic,College,1/25/11,Employed,M,Urban,Divorced,Personal Auto,Personal L3,Offer1,Agent,SUV,Medsize

In [7]:
X_train_cat.drop('Customer', axis=1, inplace=True)

In [8]:
X_test_cat.drop('Customer', axis=1, inplace=True)

In [9]:
from sklearn.preprocessing import OneHotEncoder
# Create the OneHotEncoder object
encoder = OneHotEncoder(handle_unknown='ignore')

# Fit the encoder on the training data
encoder.fit(X_train_cat)

# Transform the categorical variables in both the training and test sets
X_train_encoded = encoder.transform(X_train_cat).toarray()
X_test_encoded = encoder.transform(X_test_cat).toarray()


# Create pandas DataFrames for the encoded variables
X_train_encoded_df = pd.DataFrame(X_train_encoded, columns = encoder.get_feature_names_out(), index= X_train_cat.index)
X_test_encoded_df = pd.DataFrame(X_test_encoded, columns = encoder.get_feature_names_out(), index=X_test_cat.index)

display(X_train_encoded_df.head())
display(X_test_encoded_df.head())

,State_Arizona,State_California,State_Nevada,State_Oregon,State_Washington,Response_No,Response_Yes,Coverage_Basic,Coverage_Extended,Coverage_Premium,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
8444,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2891,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5464,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7432,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3919,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

,State_Arizona,State_California,State_Nevada,State_Oregon,State_Washington,Response_No,Response_Yes,Coverage_Basic,Coverage_Extended,Coverage_Premium,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
8760,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4901,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5118,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1930,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2474,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
from sklearn.preprocessing import PowerTransformer

# Fit and transform the numerical features in X_train_num
pt = PowerTransformer()
X_train_num_transformed = pt.fit_transform(X_train_num)

# Transform the numerical features in X_test_num
X_test_num_transformed = pt.transform(X_test_num)

# Create pandas dataframes with the transformed data
X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns=X_train_num.columns, index=X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns=X_test_num.columns, index=X_test_num.index)

In [11]:
# Concatenate X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new
X_train_new = pd.concat([X_train_num_transformed_df, X_train_encoded_df], axis=1)

# Concatenate X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new
X_test_new = pd.concat([X_test_num_transformed_df, X_test_encoded_df], axis=1)

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Create MinMaxScaler object
scaler = MinMaxScaler()

# Fit scaler on X_train_new
scaler.fit(X_train_new)

# Transform X_train_new and X_test_new
X_train_new_scaled = scaler.transform(X_train_new)
X_test_new_scaled = scaler.transform(X_test_new)

# Create new pandas dataframes
X_train_new_scaled_df = pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled_df = pd.DataFrame(X_test_new_scaled, columns=X_test_new.columns, index=X_test_new.index)

In [13]:
X_train_new_scaled_df

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,State_Arizona,State_California,State_Nevada,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
8444,0.546689,0.603173,0.237950,0.556064,0.632631,0.000000,0.384589,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2891,0.355690,0.000000,0.255297,1.000000,0.623798,0.998217,0.809188,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5464,0.434771,0.867927,0.201428,0.134385,0.735197,0.000000,0.590087,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7432,0.523000,0.788867,0.545367,0.310257,0.424579,0.000000,0.926261,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3919,0.366039,0.986970,0.675168,0.582001,0.816531,0.954127,0.000000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5372,0.743695,0.779926,0.947766,0.631775,0.605983,0.000000,1.000000,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,0.669586,0.959078,0.646265,0.964051,0.641417,0.992701,0.384589,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
826,0.368422,0.935483,0.663980,0.701984,0.910103,0.000000,0.000000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3735,0.073596,0.000000,0.025934,0.000000,0.879354,0.000000,0.000000,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4818,0.026073,0.000000,0.120175,0.607218,0.464938,0.999560,0.000000,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
# Step 1: Import the necessary libraries
from sklearn.linear_model import LinearRegression

# Step 2: Instantiate the linear regression model
model = LinearRegression()

# Step 3: Fit the model to the training data
model.fit(X_train_new_scaled_df, y_train)

# Step 4: Make predictions for the training and test sets
train_predictions = model.predict(X_train_new_scaled_df)
test_predictions = model.predict(X_test_new_scaled_df)

In [15]:
train_predictions.shape

(6393,)

In [16]:
X_train_new_scaled_df.shape

(6393, 123)

In [17]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score

def calculate_error_metrics(predictions, real_values):
    error_metrics = {
        'MAE': mean_absolute_error(real_values, predictions),
        'MSE': mean_squared_error(real_values, predictions),
        'RMSE': np.sqrt(mean_squared_error(real_values, predictions)),
        'MAPE': np.mean(np.abs((real_values - predictions) / real_values)) * 100,
        'R2': r2_score(real_values, predictions)
    }

    df = pd.DataFrame.from_dict(error_metrics, orient='index', columns=['Value'])
    return df

In [18]:
error_metrics_df = calculate_error_metrics(train_predictions, y_train)

# Display the DataFrame
print(error_metrics_df)

             Value
MAE      96.506146
MSE   19920.024797
RMSE    141.138318
MAPE     78.501824
R2        0.760609

In [19]:
error_metrics_df = calculate_error_metrics(test_predictions, y_test)

# Display the DataFrame
print(error_metrics_df)

             Value
MAE      98.237249
MSE   20951.497983
RMSE    144.746323
MAPE    110.150643
R2        0.759403

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

def train_models(models, X_train, y_train):
    trained_models = []
    
    for model in models:
        clf = model()
        clf.fit(X_train, y_train)
        trained_models.append(clf)
    
    return trained_models

In [41]:
from sklearn.metrics import mean_squared_error

def evaluate_models(models, X_train, y_train, X_test, y_test):
    results = []
    
    for clf in models:
        y_train_pred = clf.predict(X_train)
        train_error = mean_squared_error(y_train, y_train_pred)
        
        y_test_pred = clf.predict(X_test)
        test_error = mean_squared_error(y_test, y_test_pred)
        
        results.append((clf.__class__.__name__, train_error, test_error))
    
    return results

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression

# Generate a toy regression dataset
X, y = make_regression(n_samples=100, n_features=10, random_state=42)

# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the list of models
models = [LinearRegression, KNeighborsRegressor, MLPRegressor]

# Train the models
trained_models = train_models(models, X_train, y_train)

# Evaluate the models
results = evaluate_models(trained_models, X_train, y_train, X_test, y_test)

# Print the results
for model, train_error, test_error in results:
    print(f"Model: {model}")
    print(f"Train Error: {train_error}")
    print(f"Test Error: {test_error}")
    print()

Model: LinearRegression
Train Error: 2.137594144247743e-26
Test Error: 2.6245441759748326e-26

Model: KNeighborsRegressor
Train Error: 8896.206775742347
Test Error: 22759.265274639696

Model: MLPRegressor
Train Error: 30249.38020731928
Test Error: 33798.51558795771

C:\Users\duygu\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(